# Node
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# TypeScript
*.tsbuildinfo

# iOS
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata
ios/*.xcodeproj/project.xcworkspace/xcuserdata
ios/build/
*.ipa

# Android
android/build/
android/.gradle
android/.idea
android/local.properties
android-example/.gradle/
android-example/build/
android-example/app/build/
android-example/local.properties
*.iml
*.apk
*.aab
*.dex
*.class

# Yarn
.yarn/
.pnp.*

# Archives
*.zip
*.tar.gz
*.rar

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
*.log
