# Node
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# iOS
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata
ios/*.xcodeproj/project.xcworkspace/xcuserdata
ios/build/
*.ipa

# Android
android/build/
android/.gradle
android/.idea
android/local.properties
*.iml
*.apk
*.aab

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
*.log
